# /etc/nginx/nginx.conf
user  nginx;
worker_processes  {{ config.worker_processes }};

error_log  /var/log/nginx/error.log  {{ config.log_level }};
pid        /var/run/nginx.pid;

events {
    worker_connections  {{ config.worker_connections }};
}

http {
    # Load standard MIME types
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    
    # Logs
    log_format main '$remote_addr - $remote_user [$time_local] '
                    '"$request" $status $body_bytes_sent '
                    '"$http_referer" "$http_user_agent"';

    access_log  /var/log/nginx/access.log  main;

    # Security
    server_tokens off;

    # Keepalive settings
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 4096;

    # Gzip Compression
    gzip on;
    gzip_proxied     any;
    gzip_min_length  1024;
    gzip_comp_level  5;
    gzip_types
        text/plain
        text/css
        text/javascript
        application/javascript
        application/x-javascript
        application/json
        application/xml
        image/svg+xml;
    
    # Cache
    proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=cache:10m
                     max_size=1g inactive=60m use_temp_path=off;

    # Include any custom/global configs
    include /etc/nginx/conf.d/*.conf;

    server {
        # Listen on HTTP
        listen {{ config.port }};
        server_name {{ config.server_name }};

        # Path static content root
        root {{ config.root }};
        index index.html index.htm;

        # Security headers
        add_header X-Content-Type-Options "nosniff";
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Frame-Options "SAMEORIGIN";

        {%- if config.resolver.address is not none and (config.resolver.address | length) > 0 %}
        resolver {% for addr in config.resolver.address %}{{ addr }} {% endfor %} valid={{ config.resolver.validity | default('3600s') }};
        {%- endif %}

        {%- if config.snippets is not none %}
        {{ '' }}
        {%- for snippet in config.snippets %}
        {%- filter indent(width=8) %}
{{ snippet }}
        {%- endfilter %}
        {%- endfor %}
        {%- endif %}

        {%- if config.locations is not none %}
        {%- for loc in config.locations %}
        location {{ loc.proxy_location }} {
        {%- if loc.proxy_upstream_host is not none %}
            {%- if loc.proxy_resolver and loc.proxy_resolver.address is not none and (loc.proxy_resolver.address | length) > 0 %}
            resolver {% for addr in loc.proxy_resolver.address %}{{ addr }} {% endfor %} valid={{ loc.proxy_resolver.validity | default('3600s') }};
            {%- endif %}

            set $proxy_upstream_name {{ loc.proxy_upstream_host }};
        {%- endif %}
        {%- for key, value in loc.proxy_config.items() %}
            {{ key }} {{ value }};
        {%- endfor %}
        }
        {%- endfor %}
        {%- endif %}

        # Serve static files with caching
        location ~* \.(?:css|js|gif|jpe?g|png|ico|svg|woff2?|ttf|eot)$ {
            expires {{ config.static_file_cache_expiration }};
            add_header Pragma public;
            add_header Cache-Control "public";
            try_files $uri $uri/ =404;
        }

        # Default location for static files
        location / {
            try_files $uri $uri/ /index.html =404;
        }
    }
}
